main{
    width: 1250px;
    padding: 100px;
    margin: auto;
    text-align: center;
}

*{
    /* retirar a margem externa */
    margin: 0;
    /* retirar a margem interna */
    padding: 0;
}

header {
    background-image: url(fotos/1712968603156.jpg);   
    width: 100%;
    height: 180px;
    box-shadow: 0 0 0px #ccc ;
    position: relative;
    top: 10%;
}

header nav {
    float: right;
}

header nav ul {
    /*retirar a bolinha*/ 
    list-style: none;

} 

header nav ul li {
    background-color:rgb(0, 0, 0);
    display: inline-block;
    margin: 50px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold; 
    border-radius: 10px;
}

header nav ul li a:hover {
    color: rgb(249, 232, 0);

}

header nav ul li a {
    text-decoration: none;
    color: #00e5ff;
    font-size: 45px;
    padding: 10px;
}
.body-contato{
    background-image: url(fotos/texture-990071_960_720.jpg);
    background-size: 1980px 1500px;
    margin: auto;
    min-inline-size: min-content;
 }


body {
    
    background-image: url(fotos/texture-990071_960_720.jpg);
   background-size: 1980px 1500px;
   margin: auto;
   min-inline-size: min-content;
}

main {
    padding: 20px;
    text-align: center;
    border: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: cente;
}

.grid .coluna {
    box-shadow: 0 0 10px #145400d5;
    border-radius: 20px;
    margin: 30px;
    text-align: cente;
    background-color: rgba(28, 98, 12, 0.44);
    
}

.grid .coluna img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    
}

.grid .coluna p,#Personagem p{
    margin: 30px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 25px;
   
}

#historia {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 50px;
    border: 100px;
    background-color: rgba(28, 98, 12, 0.44);
    color: #ffffff;
    box-shadow: 0 0px 50px #3cff006c;
    border-radius: 10px 20px 0 0;
    font-size: 40px;
}


.centralizar-nomes{

    text-align: center;
    position: static;
}

#texto-topo {

    color: azure;
    
}

#texto-pr{
    text-align: center;
    font-size: 50px;
    color: #ffffff;
}

.texto-branco{
    color: #ffffff;
    font-size: 30px;
}

.main-contato{
    background-image: url('fotos/WhatsApp\ Image\ 2024-04-12\ at\ 16.13.26_323be5a7.jpg');
    display: flex;
    flex-direction: column;
    width: auto;
    height: 120px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 10px;
}

.main-texto {
    display: flex;
    color: aliceblue;
   
}
/* video Home  */

#titulo-video{

    color: aqua;
    font-size: 60px;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
}

.video {

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* footer Home */

.footer {
   background-image: url(fotos/1712968603156.jpg);
    color: #ffffff;
    display: flex;
    font-size: 25px;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.footer-section {
    flex: 1;
    margin: 0 7px;
    text-align: center;
}

.footer-section h2 {
    border-bottom: 2px solid #a19c9c;
    padding-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid  #a19c9c;
    padding-top: 10px;
    text-align: center;
}

.icone {
    
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: cente;
}

/* contatos um do lado do outro */

.grid-contato {   

    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: cente;
}

.grid-contato .coluna-contato {

    display: flex;
    box-shadow: 0 0 10px  #ccc;
    border-radius: 10px;
    margin: 30px;
}

.grid-contato .coluna-contato img {

    width: 100px;
    border-radius: 10px 10px 0 0;
}



.texto-contato {

    color: #ffffff;
    width: 450px;
    display: flex;
    flex-direction:column-reverse;
    justify-content: space-around;

}

.texto-contato a {
    color: #00e5ff;
    width: 80px;
}

.textoentreemcontato {

    color: aliceblue;
    margin: 100px;
}

/* .footer-contato */

.footer-contato {

    background-image: url(fotos/1712968603156.jpg);
    color: aliceblue;
    display: flex;
    font-size: 25px;
}

.footer-contato {

    justify-content: space-around;
}

.texto-sobre {

    color: #ffffff;
    font-size: 30px;
}

#remover{
    list-style: none;
}


header img{
    width: 500px;
    padding: 35px;
}
 .menu {
    display: none;
 }

 .titlo-jogo{
    width: 1166px;
    margin: 36px;
    color: #ffffff;
    text-align: center;
    
 }

 .texto-jogo{
  
 }



     @media (max-width: 538px) {
   
        main {
            width: 100%;
            text-align: center;
            padding: 0%;
        }
        header nav ul {
            text-align: center;
            margin: 0;
            padding: 0;
        }
        
        header img{
            width: 250px;
            padding: 15px;
        }
        
        header {
            width: 100%;
            height: 100%;
            height: auto; 
            /* display: flex; */
        }

        header nav {
            float: right;
           
        }

        header nav ul li {
            background-color:rgba(0, 0, 0, 0);
            display: inline-block;
            margin: 5px;
            font-size: 25px;
            border-radius: 10px;
        }
        
        header nav ul li a:hover {
            color: rgb(249, 232, 0);
        
        }
        
        header nav ul li a {
            text-decoration: none;
            color: #ffffff;
            font-size: 10px;
            padding: 10px;
        }
         .video {
           display: none;
        }

        #titulo-video {
            font-size: 15px;
            color: #a19c9c;
            padding: 10px;
        }
        
        .grid {
            display: grid;
            grid-template-columns: 1fr;
            gap: 0px;
        }

        .coluna img {
            width: 100%;
            height: auto;
        }
        .grid .coluna img {
            width: 100%;
            border-radius: 10px 10px 0 0;
            
        }
        #texto-pr{
            font-size: 20px;
        }
        #texto-topo{
            font-size: 10px;
        }
        .grid .coluna {
            box-shadow: 0 0 10px #145400d5;
            border-radius: 20px;
            margin: 50px;
            text-align: cente;
        }

        #historia {
            font-family: Arial, Helvetica, sans-serif;
            border: 10px;
            margin: 10px;
            background-color: rgba(28, 98, 12, 0.44);
            color: #ffffff;
            box-shadow: 0 0px 50px #3cff006c;
            border-radius: 10px 20px 0 0;
            font-size: 0.8em;
            display: table-cell;
        }

        .coluna {
            padding: 0;
        }

        .meu-jogo{
            display: none;
         
        }
        

        .footer{
            margin-top: 20px;
            font-size:20px;
        }
        body{
            margin: auto;
        }
        .texto-footer{
            font-size: 10px;
        }

        /* letra-footer (contato e sobre) */

        .texto-footer-contato{
            font-size: 15px;
        }

     /* contato */

        header nav ul{
            display: grid;
        }

        .main-texto{
            font-size: 20px;
        }
        .grid-contato{
            display: math;
        }    
        .footer-contato{
            font-size: 20px;
            margin-top: 20px;
        }
        .textoentreemcontato{
            display: contents
        }
       .body-contato{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
       }
} 

